@font-face {
    font-family: 'Pattanakarn';
    src: url('Pattanakarn_Medium.ttf') format('truetype');
    font-weight: 500; /* Зависит от шрифта */
    font-style: normal; /* Обычно normal или italic */
}
body {
    padding: 0;
    margin: 0;
}
#unity-container {
/*    position: absolute;*/
}
#unity-container.unity-desktop {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
}
#unity-canvas {
    /* background: #231f20; */
    background: #000;
    background-image: url(loader_bg.png);
    background-size: cover;
}
.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
}
#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 100%;
    max-width: 285px;
}
#unity-logo {
    /* width: 154px;
    height: 130px; */
    width: 266px;
    height: 268px;
    /* background: url("unity-logo-dark.png") no-repeat center; */
    background: url("utc.png") no-repeat center;
    background-size: cover;
    margin: auto;
}
#unity-progress-bar-empty {
    /* width: 141px; */
    width: 100%;
    max-width: 285px;
    height: 18px;
    margin-top: 10px;
    /* margin-left: 6.5px; */
    /* background: url("progress-bar-empty-dark.png") no-repeat center; */
    background: url(empty_bar_container.png) no-repeat center;
    border-radius: 14px;
    border: 1px solid #ffffff30;
}
#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    /* margin-top: 10px; */
    /* background: url("progress-bar-full-dark.png") no-repeat center; */
    background: url("progress_bar_full_orange.png") no-repeat center;
    border-radius: 14px;
}
.unity-progress-bar-text {
    font-family: Pattanakarn;
    font-size: 30px;
    font-weight: 500;
    line-height: 66.66px;
    color: #fff;
    width: max-content;
    margin: auto;
}
#unity-footer {
    position: relative;
}
.unity-mobile #unity-footer {
    display: none;
}
#unity-webgl-logo {
    float: left;
    width: 204px;
    height: 38px;
    background: url("webgl-logo.png") no-repeat center;
}
#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px;
}
#unity-fullscreen-button {
    cursor: pointer;
    float: right;
    width: 38px;
    height: 38px;
    background: url("fullscreen-button.png") no-repeat center;
}
#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}
